:root {
  --background-color: #fbfbfb;
  --primary-color: #42a5f5;
  --secondary-color: #37474f;
  --light-gray-color: #d5dee2;
  --dark-gray-color: #6a8592;
  --hover-primary-color: #1e88e5;
  --hover-secondary-color: #263238;
  --label-background-color: #546e7a;
  --info-description-background-color: #eceff1;
  --white-color: #ffffff;
  --copy-cursor-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAECAYAAACZCA3yAAAAGXRFWHRTb2Z0d2FyZQBNYWNPUyBDYXJib24gU01MQMjdrAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wNy0xNVQxNzo1Njo0OCswMjowML7aw3wAAAAdSURBVAjXY2BAAEMi1L//AEBJQkQEgkpGAxrgU7qAAAADUlEQVQI12NggID/oAGACF0CjAC1ElIAAAAASUVORK5CYII='), auto;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 90%;
  max-width: 1200px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.user-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.intro-text {
  margin-top: 10px;
  color: var(--dark-gray-color);
  text-align: center;
  font-size: 1rem;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.profile-pic {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.user-name {
  font-size: 1.25em;
  color: var(--secondary-color);
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button-row button {
  margin: 0 5px;
  padding: 8px 15px;
  font-size: 0.9rem;
}

.button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.button-description {
  margin-top: 5px;
  color: var(--dark-gray-color);
  font-size: 0.8rem;
  opacity: 0;
  background-color: var(--info-description-background-color);
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  pointer-events: none;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  visibility: hidden;
  text-align: center;
}

.button-container:hover .button-description {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.account-switcher {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  width: 100%;
}

.account-switcher-label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.info-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.left-column {
  flex: 1;
  margin-right: 20px;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-label {
  font-weight: bold;
  color: var(--white-color);
  background-color: var(--label-background-color); 
  font-size: 0.9rem;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px; 
  border-radius: 4px; 
  margin-bottom: 5px; 
}

.info-section {
  margin-top: 20px;
  position: relative;
}

.info-description {
  margin-top: 5px;
  color: var(--dark-gray-color);
  font-size: 0.8rem;
  opacity: 0;
  background-color: var(--info-description-background-color);
  padding: 5px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  pointer-events: none;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

.info-section:hover .info-description {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

textarea {
  width: 100%;
  height: 40px;
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
  background-color: var(--light-gray-color);
  color: var(--secondary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  resize: none;
  box-sizing: border-box;
}

.jwt {
  height: 250px;
  text-align: left;
  font-size: 0.8rem;
}

.custom-dropdown {
  position: relative;
  width: 98%;
  max-width: 100%; 
  cursor: pointer;
}

.dropdown-selected {
  padding: 8px;
  background-color: var(--light-gray-color);
  color: var(--secondary-color);
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--info-description-background-color);
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.dropdown-option {
  padding: 10px;
  background-color: var(--info-description-background-color);
  color: var(--secondary-color);
  font-size: 0.9rem;
  border-bottom: 1px solid var(--light-gray-color);
}

.dropdown-option:last-child {
  border-bottom: none;
}

.dropdown-option:hover {
  background-color: var(--hover-primary-color);
  color: var(--white-color);
}


.tenant-selector {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--light-gray-color);
  background-color: var(--light-gray-color);
  color: var(--secondary-color);
  font-size: 0.9rem;
}

.action-button {
  padding: 8px 15px;
  font-size: 0.9rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: var(--hover-primary-color);
}

.logout-button {
  background-color: var(--secondary-color);
}

.logout-button:hover {
  background-color: var(--hover-secondary-color);
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-button {
  padding: 12px 25px;
  font-size: 1rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: var(--hover-primary-color);
}

.stepped-up-message {
  color: var(--primary-color);
  font-weight: bold;
}

.entitlements-section {
  margin-top: 10px;
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--light-gray-color);
  font-size: 0.9rem;
}

.entitlement-item {
  margin: 5px 0;
  color: var(--secondary-color);
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.toggle-switch {
  margin-left: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray-color);
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: var(--white-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.toggle-label {
  margin-right: 10px;
  font-size: 0.9rem;
  color: var(--secondary-color);
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  .info-layout {
    flex-direction: column;
  }

  .left-column, .right-column {
    margin-right: 0;
    width: 100%;
  }

  .button-row {
    flex-direction: column;
    margin-top: 20px;
  }

  .button-row button {
    margin-bottom: 10px;
    width: 100%;
  }

  .button-container {
    width: 100%;
  }

  .dropdown-selected, .dropdown-options {
    text-align: left;
    padding-left: 10px;
  }
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--hover-secondary-color);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@media (max-width: 480px) {
  .App {
    padding: 10px;
  }

  .profile-pic {
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }

  .user-name {
    font-size: 1.1em;
  }

  .intro-text {
    font-size: 0.9rem;
  }

  .button-row button {
    font-size: 0.8rem;
    padding: 8px 10px;
  }

  .jwt {
    font-size: 0.7rem;
  }

  .toggle-label, .info-label {
    font-size: 0.8rem;
  }
}
